* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: none;
}

body {
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    background-color: #f8fafd;
    width: 100vw;  
    /* justify-content: space-between; */

}

.logo {
    padding: 10px;
    width: 235px;
    display: flex;
    align-items: center;


    img {
        width: 40px;
        height: 40px;
        margin-left: 16px;
    }

    span {

        font-size: 25px;
        font-weight: 400;
        margin-left: 8px;
    }
}

.middle {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex: 1 1 auto;
    
}


:first-child {
    display: flex;
    align-items: center;
}

.search {
    width: 700px;
    height: 45px;
    border-radius: 20px;
    background-color: #f1f3f4;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    img {
        margin-left: 5px;
        filter: brightness(0);
    }

    .input {
        background-color: transparent;
        display: inline-block;
        margin-left: 15px;
    }

    input {
        border: none;
        font-size: 16px;
        background-color: transparent;
        color: rgb(69, 69, 69);

    }

    input:focus {
        outline: none;
    }

    .tune {
        img {
            height: 25px;
            width: 25px;
            margin-right: 10px;
        }
    }
}

.icon {
    display: flex;
    gap: 20px;
    align-items: center;
    
    span {
        display: block;
    }

    img {
        height: 25px;
        width: 25px;

    }
}
.end{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;   
    right: 0;
    margin: 0px 20px;

    .id{
        
        background-color: rebeccapurple;
        color: white;      
        padding: 4px 10px;
        border-radius: 50%;
        font-size: 20px;
    }

}
.logo,.icon{
    flex: 0 0 auto;
}
aside{
    width: 250px;
    background-color: #f8fafd;
    height: 100vh;
    padding-top: 20px;
    
    ul{
        padding: 0px 10px;
        margin-top: 20px;
        
        /* padding: 0px 10px; */
        

        li{
            display:flex;
            align-items: center;
            padding: 6px 20px;
            border-radius: 15px;
            font-size: 15px;
            width: 12vw;
            
            img{
                height: 18px;
                margin-right: 10px;
            }
        }
        li:hover{
            background-color:#c2e7ff;
        }
        li:active{
            background-color:#c2e7ff;

        }
      }
}
.add{
    /* height: 56px;*/
    width: 70px; 
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgb(59, 59, 59);
    border-radius: 15px;
    margin-left: 20px;
    
}
.more{
    background-color: transparent;
    border: 1px solid black;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
    color:rgb(56, 56, 196);
    margin-left: 20px;
    margin-top: 20px;
    
}
.more:hover{
background-color: rgb(214, 214, 255);
}



@media (max-width:1200px) {
    .middle{
        position: relative;
    }
        .search{
            display: none;
        }
        .icon{
            position: absolute;
            right: 0;
            top:-10px;
        }
}